@import url("https://fonts.googleapis.com/css?family=Rock+Salt&display=swap");
* {
  box-sizing: border-box;
}

.sticky {
  width: 100vw;
  top: 0;
  position: fixed;
  box-shadow: 2px 1px 72px 10px black;
  z-index: 1;
  transition: all 400ms ease-in-out;
}

.header-mobile {
  background-color: black;
}
.header-mobile .navbar-mobile ul li {
  font-family: "Lato", sans-serif;
  color: white;
}

.hidden-menu-mobile {
  background-color: black;
}
.hidden-menu-mobile ul .hidden-sub-menu-mobile a {
  color: white;
}

.header {
  background-color: black;
}
.header .navbar ul li {
  font-family: "Lato", sans-serif;
  color: white;
}
.header .navbar ul li a {
  text-decoration: none;
}
.header .logo-container a {
  color: white;
  text-decoration: none;
}
.header .logo-container a i {
  color: white;
}

.footer {
  background-color: white;
}
@media screen and (min-width: 320px) and (max-width: 599px) {
  .header-mobile {
    position: fixed;
    width: 100vw;
    padding: 24px 12px;
    font-size: 20px;
    border-bottom: solid 1px white;
    z-index: 2;
  }
  .header-mobile .navbar-logo-container {
    display: flex;
    justify-content: space-between;
  }
  .header-mobile .logo-container-mobile i {
    font-size: 20px;
    color: white;
  }

  .hidden-menu-mobile {
    height: 0;
    width: 100vw;
    overflow: hidden;
    transition: height 400ms ease-in-out;
  }
  .hidden-menu-mobile ul {
    visibility: hidden;
  }
  .hidden-menu-mobile ul .hidden-sub-menu-mobile {
    margin-bottom: 20px;
  }
  .hidden-menu-mobile ul .hidden-sub-menu-mobile a {
    text-decoration: none;
    font-size: 20px;
  }

  .hidden-menu-mobile-opened {
    background-color: black;
    height: 100vh;
    border-top: solid 1px white;
    margin-top: 20px;
    font-family: "Lato", sans-serif;
    z-index: 1;
    transition: height 400ms ease-in-out;
  }
  .hidden-menu-mobile-opened ul {
    padding-top: 20px;
  }
  .hidden-menu-mobile-opened ul .hidden-sub-menu-mobile {
    margin-bottom: 20px;
  }
  .hidden-menu-mobile-opened ul .hidden-sub-menu-mobile a {
    color: white;
    text-decoration: none;
    font-size: 20px;
  }

  .header {
    display: none;
  }

  .footer {
    margin-top: 40px;
    padding: 20px;
  }
  .footer .social-logo ul {
    display: flex;
    justify-content: center;
  }
  .footer .social-logo ul li {
    margin-right: 20px;
  }
  .footer .social-logo ul li a {
    color: black;
  }
  .footer .social-logo ul li a i {
    font-size: 20px;
    text-align: center;
  }
}
@media screen and (min-width: 600px) and (max-width: 1024px) {
  .header-mobile {
    display: none;
  }

  .hidden-menu-mobile {
    display: none;
  }

  .header {
    display: flex;
    justify-content: space-between;
    font-size: 20px;
  }
  .header .navbar .main-menu {
    height: 100%;
    display: flex;
  }
  .header .navbar .main-menu .main-menu-li {
    height: 100%;
    padding: 12px 24px;
    margin-right: 10px;
    transition: background-color 400ms ease-in-out;
  }
  .header .navbar .main-menu .main-menu-li:hover {
    color: black;
    background-color: #aeadad;
  }
  .header .navbar .main-menu .main-menu-li:hover a {
    color: black;
  }
  .header .navbar .main-menu .main-menu-li a {
    text-decoration: none;
    color: white;
  }
  .header .navbar .main-menu .catalogue-hover {
    height: 100%;
    padding: 12px 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: background-color 400ms ease-in-out;
  }
  .header .navbar .main-menu .catalogue-hover:hover {
    color: black;
    background-color: #aeadad;
  }
  .header .navbar .main-menu .catalogue-hover:hover .sub-menu-navbar {
    background-color: #aeadad;
    display: block;
    position: absolute;
    margin-top: 33px;
    margin-left: 65px;
  }
  .header .navbar .main-menu .catalogue-hover:hover .sub-menu-navbar li {
    margin-bottom: 10px;
  }
  .header .navbar .main-menu .catalogue-hover:hover .sub-menu-navbar li a {
    color: black;
  }
  .header .navbar .main-menu .catalogue-hover a {
    color: white;
  }
  .header .navbar .main-menu .catalogue-hover .sub-menu-navbar {
    display: none;
  }
  .header .logo-container {
    font-size: 20px;
    padding: 12px 24px;
  }

  .footer {
    padding: 20px;
  }
  .footer .social-logo ul {
    display: flex;
    justify-content: center;
  }
  .footer .social-logo ul li {
    margin-right: 10px;
  }
  .footer .social-logo ul li a {
    color: black;
  }
  .footer .social-logo ul li a i {
    font-size: 30px;
  }
}
@media screen and (min-width: 1024px) {
  .header-mobile {
    display: none;
  }

  .hidden-menu-mobile {
    display: none;
  }

  .header {
    height: 50px;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .header .navbar .main-menu {
    height: 100%;
    display: flex;
  }
  .header .navbar .main-menu .main-menu-li {
    height: 100%;
    padding: 12px 24px;
    margin-right: 10px;
    transition: background-color 400ms ease-in-out;
  }
  .header .navbar .main-menu .main-menu-li:hover {
    color: black;
    background-color: #aeadad;
  }
  .header .navbar .main-menu .main-menu-li:hover a {
    color: black;
  }
  .header .navbar .main-menu .main-menu-li a {
    text-decoration: none;
    color: white;
  }
  .header .navbar .main-menu .catalogue-hover {
    height: 100%;
    padding: 12px 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: background-color 400ms ease-in-out;
  }
  .header .navbar .main-menu .catalogue-hover:hover {
    color: black;
    background-color: #aeadad;
  }
  .header .navbar .main-menu .catalogue-hover:hover a {
    color: black;
  }
  .header .navbar .main-menu .catalogue-hover:hover .sub-menu-navbar {
    background-color: #aeadad;
    display: block;
    margin-top: 28px;
    margin-left: 67px;
    position: absolute;
    transition: all 400ms ease-in-out;
  }
  .header .navbar .main-menu .catalogue-hover:hover .sub-menu-navbar li {
    padding: 5px 10px;
    margin: 5px;
  }
  .header .navbar .main-menu .catalogue-hover:hover .sub-menu-navbar li a {
    padding: 5px;
  }
  .header .navbar .main-menu .catalogue-hover a {
    color: white;
    transition: all 400ms ease-in-out;
  }
  .header .navbar .main-menu .catalogue-hover a:hover:not(.catalogue) {
    background-color: black;
    color: white;
    border-radius: 5px;
  }
  .header .navbar .main-menu .catalogue-hover .sub-menu-navbar {
    display: none;
  }
  .header .logo-container {
    padding: 12px 24px;
  }
  .header .logo-container a {
    text-decoration: none;
  }
  .header .logo-container a i {
    font-size: 30px;
    transition: color 400ms ease-in-out;
  }
  .header .logo-container a i:hover {
    color: #aeadad;
  }

  .footer {
    padding: 20px;
  }
  .footer .social-logo ul {
    display: flex;
    justify-content: center;
  }
  .footer .social-logo ul li {
    margin-right: 10px;
  }
  .footer .social-logo ul li a {
    color: black;
  }
  .footer .social-logo ul li a:hover {
    color: lightgrey;
  }
  .footer .social-logo ul li a i {
    font-size: 30px;
  }
}
.slide-parallax {
  background-image: url("../../assets/img/bckg/imagebg.jpg");
}

.catalogue-band {
  background-color: white;
}
.catalogue-band h1 {
  font-family: "Lato", sans-serif;
}
.catalogue-band h3 {
  font-family: "Rock Salt", cursive;
}
.catalogue-band .catalogue-content {
  font-family: "Lato", sans-serif;
}
.catalogue-band .band-container-mobile .band-card-container .band-card .filter {
  background-color: white;
  border: solid 2px black;
}
.catalogue-band .band-container-mobile .band-card-container .band-card .filter .card-bottom .social-logo ul li a {
  color: black;
  text-decoration: none;
}

.news {
  background-color: black;
  padding: 12px 24px;
}
.news h1 {
  color: white;
  font-family: "Lato", sans-serif;
  font-size: 30px;
}
.news h3 {
  color: white;
  font-family: "Rock Salt", cursive;
  font-size: 15px;
}
.news h3 i {
  font-size: 15px;
  color: white;
}
.news .news-container .news-card {
  background-color: white;
  height: 450px;
  width: 300px;
}
.news .news-container .news-card .news-top {
  height: 50%;
  width: 100%;
  padding: 12px 24px;
}
.news .news-container .news-card .news-top .img {
  height: 100%;
  width: 100%;
  background-color: purple;
}
.news .news-container .news-card .news-bottom {
  height: 50%;
  width: 100%;
}
.news .news-container .news-card .news-bottom h4 {
  font-family: "Lato", sans-serif;
  font-size: 20px;
  color: black;
  text-align: center;
  margin-bottom: 10px;
}
.news .news-container .news-card .news-bottom h5 {
  font-family: "Rock Salt", cursive;
  font-size: 10px;
  color: black;
  text-align: center;
  margin-bottom: 10px;
  opacity: 0.6;
}
.news .news-container .news-card .news-bottom p {
  color: black;
  text-align: center;
}

@media screen and (min-width: 320px) and (max-width: 599px) {
  .slide-parallax {
    height: 180px;
    width: 360px;
  }

  .catalogue-band {
    padding: 64px 12px;
    padding-top: 0 !important;
  }
  .catalogue-band h1 {
    margin: 10px 0;
    font-size: 30px;
    text-align: center;
  }
  .catalogue-band h3 {
    text-align: center;
    margin: 15px 0;
    opacity: 0.6;
  }
  .catalogue-band .catalogue-content {
    margin: 20px 0;
  }
  .catalogue-band .catalogue-content p {
    font-size: 16px;
    margin: 10px 0;
  }
  .catalogue-band .band-container-mobile .band-card-container .band-card {
    height: 360px;
    width: 260px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
  }
  .catalogue-band .band-container-mobile .band-card-container .band-card .filter {
    border-radius: 10px;
  }
  .catalogue-band .band-container-mobile .band-card-container .band-card .filter .card-top {
    height: 180px;
    border-radius: 10px 10px 0 0;
  }
  .catalogue-band .band-container-mobile .band-card-container .band-card .filter .card-center {
    height: 150px;
    width: 150px;
    border-radius: 75px;
    border: solid 7px white;
    position: relative;
    top: -75px;
    left: 55px;
  }
  .catalogue-band .band-container-mobile .band-card-container .band-card .filter .card-bottom {
    margin-top: -40px;
  }
  .catalogue-band .band-container-mobile .band-card-container .band-card .filter .card-bottom p {
    text-align: center;
    padding: 10px;
  }
  .catalogue-band .band-container-mobile .band-card-container .band-card .filter .card-bottom .social-logo ul {
    display: flex;
    justify-content: center;
  }
  .catalogue-band .band-container-mobile .band-card-container .band-card .filter .card-bottom .social-logo ul li {
    margin-right: 10px;
  }
  .catalogue-band .band-container-mobile .band-card-container .band-card .filter .card-bottom .social-logo ul li a i {
    font-size: 20px;
  }

  .news h1 {
    text-align: center;
    margin: 10px 0;
  }
  .news h3 {
    text-align: center;
    margin: 10px 0;
    opacity: 0.6;
  }
  .news .news-container {
    display: flex;
    flex-wrap: wrap;
  }
  .news .news-container .news-card {
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 600px) and (max-width: 1024px) {
  .slide-parallax {
    height: 50vh;
    width: 100vw;
    background-attachment: fixed;
  }

  .catalogue-band {
    padding: 64px 12px;
  }
  .catalogue-band h1 {
    margin: 10px 0;
    font-size: 30px;
    font-family: "Lato", sans-serif;
    text-align: center;
  }
  .catalogue-band h3 {
    text-align: center;
    margin: 15px 0;
    opacity: 0.6;
  }
  .catalogue-band .catalogue-content {
    margin: 20px 0;
  }
  .catalogue-band .catalogue-content p {
    font-size: 16px;
    margin: 10px 0;
  }
  .catalogue-band .band-container-mobile {
    display: flex;
  }
  .catalogue-band .band-container-mobile .band-card-container {
    display: flex;
    flex-wrap: wrap;
  }
  .catalogue-band .band-container-mobile .band-card-container .band-card {
    height: 360px;
    width: 260px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
  }
  .catalogue-band .band-container-mobile .band-card-container .band-card .filter {
    border-radius: 10px;
    border: solid 2px black;
  }
  .catalogue-band .band-container-mobile .band-card-container .band-card .filter .card-top {
    height: 180px;
    border-radius: 10px 10px 0 0;
  }
  .catalogue-band .band-container-mobile .band-card-container .band-card .filter .card-center {
    height: 150px;
    width: 150px;
    border-radius: 75px;
    border: solid 7px white;
    position: relative;
    top: -75px;
    left: 55px;
  }
  .catalogue-band .band-container-mobile .band-card-container .band-card .filter .card-bottom {
    margin-top: -40px;
  }
  .catalogue-band .band-container-mobile .band-card-container .band-card .filter .card-bottom p {
    text-align: center;
    padding: 10px;
  }
  .catalogue-band .band-container-mobile .band-card-container .band-card .filter .card-bottom .social-logo ul {
    display: flex;
    justify-content: center;
  }
  .catalogue-band .band-container-mobile .band-card-container .band-card .filter .card-bottom .social-logo ul li {
    margin-right: 10px;
  }
  .catalogue-band .band-container-mobile .band-card-container .band-card .filter .card-bottom .social-logo ul li a i {
    font-size: 20px;
  }

  .news h1 {
    text-align: center;
    margin-bottom: 10px;
  }
  .news h3 {
    text-align: center;
    margin-bottom: 20px;
  }
  .news .news-container {
    display: flex;
    flex-wrap: wrap;
  }
  .news .news-container .news-card {
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 1024px) {
  .slide-parallax {
    height: 100vh;
    width: 100vw;
    background-attachment: fixed;
  }

  .catalogue-band {
    width: 100vw;
    padding-right: 24px;
    padding-left: 24px;
  }
  .catalogue-band h1 {
    font-size: 24px;
    text-align: center;
    margin-bottom: 10px;
    padding-top: 20px;
  }
  .catalogue-band h3 {
    font-size: 12px;
    text-align: center;
    margin-bottom: 10px;
    opacity: 0.6;
  }
  .catalogue-band .catalogue-content {
    margin-bottom: 15px;
  }
  .catalogue-band .catalogue-content p {
    font-size: 15px;
  }
  .catalogue-band .band-container .band-card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .catalogue-band .band-container .band-card-container .band-card {
    margin-right: 50px;
    margin-bottom: 30px;
    transition: all 400ms ease-in-out;
  }
  .catalogue-band .band-container .band-card-container .band-card .filter {
    height: 400px;
    width: 300px;
    background-color: black;
    border-radius: 10px 10px 10px 10px;
    transition: all 400ms ease-in-out;
  }
  .catalogue-band .band-container .band-card-container .band-card .filter .card-top {
    height: 200px;
    border-radius: 10px 10px 0 0;
  }
  .catalogue-band .band-container .band-card-container .band-card .filter .card-center {
    height: 150px;
    width: 150px;
    border-radius: 75px;
    position: relative;
    top: -75px;
    left: 70px;
  }
  .catalogue-band .band-container .band-card-container .band-card .filter .card-bottom {
    margin-top: -40px;
  }
  .catalogue-band .band-container .band-card-container .band-card .filter .card-bottom p {
    color: black;
    text-align: center;
    padding: 10px;
  }
  .catalogue-band .band-container .band-card-container .band-card .filter .card-bottom .social-logo ul {
    display: flex;
    justify-content: center;
  }
  .catalogue-band .band-container .band-card-container .band-card .filter .card-bottom .social-logo ul li {
    margin-right: 10px;
  }
  .catalogue-band .band-container .band-card-container .band-card .filter .card-bottom .social-logo ul li a i {
    color: black;
    font-size: 20px;
  }
  .catalogue-band .band-container .band-card-container .band-card .filter .social-logo ul li a {
    text-decoration: none;
    color: black;
  }
  .catalogue-band .band-container .band-card-container .band-card:hover .filter .card-top {
    height: 200px;
    border-radius: 10px 10px 0 0;
  }
  .catalogue-band .band-container .band-card-container .band-card:hover .filter .card-center {
    height: 150px;
    width: 150px;
    background-color: red;
    border-radius: 75px;
    border: solid 7px white;
    position: relative;
    top: -75px;
    left: 70px;
  }
  .catalogue-band .band-container .band-card-container .band-card:hover .filter .card-bottom {
    background-color: white;
    margin-top: -40px;
  }
  .catalogue-band .band-container .band-card-container .band-card:hover .filter .card-bottom p {
    color: black;
    text-align: center;
    padding: 10px;
  }
  .catalogue-band .band-container .band-card-container .band-card:hover .filter .card-bottom .social-logo {
    background-color: white;
  }
  .catalogue-band .band-container .band-card-container .band-card:hover .filter .card-bottom .social-logo ul {
    display: flex;
    justify-content: center;
  }
  .catalogue-band .band-container .band-card-container .band-card:hover .filter .card-bottom .social-logo ul li {
    margin-right: 10px;
  }
  .catalogue-band .band-container .band-card-container .band-card:hover .filter .card-bottom .social-logo ul li a i {
    color: black;
    font-size: 20px;
  }
}
